<div class="app-container with-navbar" ng-controller="SigninController">

    <div class="navbar fixed-top">
        <div class="navbar-left hide-weixin" ng-click="goHome()">
            <img class="button-icon" src="image/nav-left.png"/>
            <div class="button-text">取消</div>
        </div>
        <div class="navbar-title">
        	用户登录
        </div>
    </div>

    <div class="app-content">
		<div class="logo">
			<img class="field-icon" src="image/company_logo_new.png?v=2" />
			<p class="logIn_tit">企业员工登录</p>
		</div>
		<div class="signin-form">
			<div class="signin-field">
				<img class="field-icon" src="image/ind-username.png"/>
				<input class="field-input" placeholder="手机号" ng-model="telphone"/>
			</div>
			<div class="signin-hline"></div>
			<div class="signin-field">
				<img class="field-icon" src="image/ind-password.png"/>
				<input type="password" class="field-input" placeholder="请输入密码" ng-model="password"/>
			</div>
		</div>
		<div class="signin-submit" ng-click="touchTelphoneSignin()">
			登录
		</div>
		<div class="signin-other">
			<div class="other-item abs-left" ng-click="goCodeSignin()">验证码登录</div>
			<div class="other-item abs-right" ng-click="touchForget()">忘记密码?</div>
		</div>

	</div>

</div>
