#app {
  background: #f5f5f5;
}
.num_circle {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #f5f5f5;
  border-radius: 50%;
  color: #888;
  font-size: 30px;
  margin: auto;
}
.titile_img {
  width: 12px;
  height: 20px;
}
.title {
  position: relative;
  border-bottom: 1px solid #f8f8f8;
}
/*地址列表 start*/
.address_list {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 106;
}
.van-cell__title {
  text-align: center;
  line-height: 3.6;
  font-size: 26px;
}
.van-cell {
  height: 100px;
  line-height: 100px;
}
.van-cell:first-child {
  border-top: 1px solid #f8f8f8;
}
/*地址列表 end*/
/*选项卡 2*/
.van-tabs--line .van-tabs__wrap {
  height: 80px !important;

}
.van-tabs--line {
  padding-top: 80px !important;

}
.van-tabs__nav {
  align-items: center;

}
.van-tab--active {
  color: #000 !important;
  font-weight: 600;
}
.van-tabs__line {
  width: 100px !important;
  height: 6px !important;
  border-radius:3px !important;
  background: #3320b4 !important;
  left: 16.5% !important;
  bottom: 27% !important;
}
.van-tab span {
  font-size: 28px;
}
/*总价start*/
.total_big {
  width: 100%;
  height: 180px;
  padding: 0 10px;
  background: #fff;
}
.total {
  width: 100%;
  height: 100%;
  background: url('../../assets/static/img/bg.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.total h1 {
  font-size: 40px;
  color: rgb(221,182,116);
  font-weight: 600;
}
.total p {
  font-size: 34px;
  color: #fff;
}
/*总价end*/
.sale_list_title {
  font-size: 28px;
  padding: 20px 0 20px 20px;
}
/*销售排行 start*/
.saleBig {
  background: #fff;
  padding: 0 30px;
}
.sale_item_1 {
  padding: 20px 0;
  font-size: 24px;
  color: #999;
  border-bottom: 1px solid #f5f5f5;
}
.sale_item_num1 {
  width: 100%;
  background: #fff;
  padding:20px 0;
}
.sale_item {
  font-size: 24px;
  color: #333;
  padding: 30px 0;
  border-bottom: 1px solid #f8f8f8;
}
.realTimeSale_item_last {
  text-align: right;
}
/*销售排行 end*/
/*底部固定 start*/
.btm {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 -0.1px 1px #eee;
}
.btm_tab {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btm_tab p {
  margin-top: 10px;
  font-size: 22px;
}
.btm_tab img {
  width: 55px;
  height: 35px;
}
.btm_tab .btm_tab_img2 {
  width: 40px;
}
.btm_tab2 {
  border-left: 1px solid #f8f8f8;
}
/*底部固定 end*/
/* 选项卡 1*/
/*排行榜 start*/
.top_title {
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #666;
  display: flex;
  align-items: center;
}
.top {
  padding: 0 20px;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}
.top_item {
  border-bottom: 1px solid #f5f5f5;
  height: 90px;
  line-height: 90px;
  background: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.top_item img {
  width: 52px;
  height: 40px;
}
.top_item_bottom {
  height: 55px;
  font-size: 24px;
  line-height: 55px;
  color: #999;
  display: flex;
  align-items: center;
}
.bianma {
  text-align: left;
}
.bianmaTime {
  text-align: right;
}
#box .van-tabs__line {
  width: 16% !important;
  left: 17% !important;
}
.biaoshi {
  width: 60%;
  height: 28px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.biaoshi1 {
  width: auto;
  height: 100%;
}
.biaoshi1 > .bss {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: block;
  float: left;
}
.bss1 {
  background: #3321b4;
}
.bss2 {
  background: #ffb70d;
}
.bss3 {
  background: #e85f0d;
}
.biaoshi1 > span {
  display: block;
  width: auto;
  font-size: 28px;
  color: #000;
  margin-left: 10px;
  line-height: 26px;
  float: left;
}
.actbox {
  padding-bottom: 80px;
}
#box .realTimeSale_top {
  padding: 0 0.3125rem;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 0.3125rem;
}
.realSale {
  position: relative;
}
.mask {
  position: absolute;
  width: 100%;
  bottom: -300px;
  height: 300px;
  background: #f5f5f5;
  z-index: 1;
}
.xstabs{
  width:100%;
  height:46px;
  background: #fff;
  position: absolute;
  left:0;
  z-index: 104;
  border-top:1px solid #f5f5f5;
  border-bottom:1px solid #f5f5f5;

}

.xstabs>.shshop{
  width:50%;
  height:100%;
  font-size: 18px;
  text-align: right;
  line-height: 46px;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.xstabs>.shfenlei{
  width:50%;
  height:100%;
  font-size: 18px;
  text-align: left;
  line-height: 46px;
  float: left;
  padding-left: 20px;
  box-sizing: border-box;
}

.shshop1{
  width:80px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom:10%;
  left: 18%;;
  z-index: 100;
  background: #3320b4;

}

.shfenlei1{
  width:80px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom:10%;
  right:18%;
  z-index: 99;
  background: #3320b4;

}
.xstabs{
  width:100%;
  height:88px;
  background: #fff;
  position: absolute;
  top:88px;
  left:0;
  z-index: 104;
  border-top:1px solid #f5f5f5;
  border-bottom:1px solid #f5f5f5;

}

.xstabs>.shshop{
  width:50%;
  height:100%;
  font-size: 30px;
  text-align: center;
  line-height: 88px;
  float: left;
}

.xstabs>.shfenlei{
  width:50%;
  height:100%;
  font-size: 30px;
  text-align: center;
  line-height: 88px;
  float: left;
}

.shshop1{
  width:140px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom:16%;
  left: 12%;;
  z-index: 100;
  background: #3320b4;

}

.shfenlei1{
  width:140px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom:16%;
  left: 12%;;
  z-index: 99;
  background: #3320b4;
}
#myChart_circle>div:first-child {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.realSale_search_big {
  z-index: 100 !important;
}
.biaoshi {
  width: 100% !important;
  background: #fff !important;
}
#realTimeCotegoryDetail .biaoshi {
  width: 100% !important;
  background: #fff;
}
.text_left {
  text-align: left !important;
  font-weight: 600;
}
.text_left_padding {
  text-align: left !important;
  font-weight: 600;
  padding-left:60px;
}
.text_none {
  font-weight: normal;
}
.realSale_line {
  display: none;
}
/*排行榜 end*/
/*暂无数据 start*/
.no-data-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform:translateY(120%);
}
canvas {
  left: auto !important;
}
/*暂无数据 end*/


