<div class="app-container with-navbar" ng-controller="ChangePasswordController">

    <div class="navbar fixed-top">
        <div class="navbar-left hide-weixin" ng-click="goBack()">
            <img class="button-icon" src="image/nav-left.png"/>
            <div class="button-text">取消</div>
        </div>
        <div class="navbar-title">
            修改密码
        </div>
    </div>

    <div class="app-content">

        <div class="signup-filter">
            <div class="signup-item" ng-class="{active: currentTab == 'password'}" ng-click="touchTabPassword()">
                <span class="text">密码</span>
            </div>
            <div class="signup-item" ng-class="{active: currentTab == 'validCode'}" ng-click="touchTabValidCode()">
                <span class="text">验证码</span>
            </div>
        </div>

        <div ng-show='modifyPass.show' ng-include="'modules/change-password/password.html'"></div>
        <div ng-hide='modifyPass.show' ng-include="'modules/change-password/valid-code.html'"></div>

    </div>
</div>
