<div class="changepass-form">
    <div class="changepass-field">
        <input type="password" class="field-input" placeholder="请输入当前密码" ng-model="state.oldPassword" />
    </div>
    <div class="changepass-hline"></div>
    <div class="changepass-field">
        <input type="password" class="field-input" placeholder="请输入新密码" ng-model="state.newPassword" />
    </div>
    <div class="changepass-hline"></div>
    <div class="changepass-field">
        <input type="password" class="field-input" placeholder="确认新密码" ng-model="state.newPassword2" />
    </div>
</div>
<div class="changepass-submit" ng-click="touchChangePassword()">
    保存
</div>