<div class="app-container with-navbar" ng-controller="SearchController">

    <div class="navbar fixed-top">
        <div class="search-inline">
            <img class="search-icon" src="image/ind-search.png"/>
            <form ng-submit="touchSearch()">
                <input class="search-text" ng-model="currentKeyword" placeholder="请输入您要搜索的商品"></input>
            </form>
        </div>
        <div class="search-cancel" ng-click="goBack()">取消</div>
    </div>

    <div class="app-content">
        <div class="search-header" ng-if="history && history.length">
            <img class="header-icon" src="image/ind-history.png"/>
            最近搜索
        </div>
        <div class="search-keywords" ng-if="history && history.length">
            <div class="keyword" ng-repeat="keyword in history track by $index" ng-click="touchKeyword(keyword)">{{keyword}}</div>
        </div>
        <div class="search-header" ng-if="keywords && keywords.length">
            <img class="header-icon" src="image/ind-hot.png"/>
            热门搜索
        </div>
        <div class="search-keywords" ng-if="keywords && keywords.length">
            <div class="keyword" ng-repeat="keyword in keywords track by $index" ng-click="touchKeyword(keyword.content)">{{keyword.content}}</div>
        </div>
    </div>

</div>


<style>
    .search-keywords .keyword{
        padding:0;
        margin:0;
        font-size:0.24rem;
        height:0.5rem;
        background: #f2f2f2;
        line-height:0.5rem;
        padding-left: 0.3rem;
        padding-right:0.3rem;
        width:auto;

        float: left;
        margin-left:0.15rem;
        border-radius: 0.5rem;
        list-style: none;
        border:none;
        margin-top:0.2rem;
        color: #999999;
    }
</style>
