<div class="app-container with-navbar with-loader" ng-controller="MyOrderController">
    <style>

        .order-filter .filter-item{
            outline: none;
        }
        .order-goods .goods-item .item-photo{
            border:0;
        }
        .order-goods .goods-item .item-info .info-name{
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2;
            font-size: 14px;
            line-height:17px;
        }

        body{
            background: #f4f4f4;
        }
        .order-filter{
            border:none;
        }

        .order-list .list-item{
            background: #fff;
            border-radius: 0.2rem;
            width:7.2rem;
            margin:auto;
            margin-top:0.15rem;
            border:none;
        }
        .order-goods .goods-item{
            border-bottom:#f4f4f4 0 solid;
        }
        .order-list .list-item .item-header{
            border-bottom:none;
        }

        .order-list .list-item .item-footer .footer-button{
            border-radius: 4px;
            font-size: 0.28rem;
            outline: none;
        }

        .order-goods .goods-item .footer-button.dark{
            border-radius: 4px;
            outline: none;
        }








        .refundTip-box{
            width:100%;
            height:100%;
            background: rgba(0,0,0,0.6);
            position: fixed;
            top:0;
            left:0;
        }
        .refundTip{
            width:70%;
            height:3rem;
            background: #fff;
            border-radius: 0.08rem;
            box-shadow: 0 0 0.04rem 0.01rem #ccc;
            position: absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin:auto;
        }

        .refundcon{
            width:80%;
            height:2rem;
            margin:auto;
            color: #000;
            font-size:0.26rem;
            text-align: center;
            line-height:0.5rem;
            padding-top:0.6rem;
            box-sizing: border-box;
        }

        .refundbtn{
            width: 100%;
            height:1rem;
            text-align: center;
            line-height: 1rem;
            font-weight:bold;
            color: #0085d0;
            border-top:1px solid #f0f0f0;

        }
        .refundbtn_left{
            width: 50%;
            height:100%;
            text-align: center;
            line-height: 1rem;
            font-weight:bold;
            color: #0085d0;
            border-right:1px solid #f0f0f0;
            box-sizing: border-box;
            float: left;
        }
        .refundbtn_left:nth-child(2){
            border-right:none;
        }


        .but_tip{
            width:100%;
            height:38px;
            /*border-top:1px solid #e2e2e2;*/

        }

        .order-goods .goods-item{
            height:auto;
        }

        .order-goods .goods-item .footer-button.dark {
            background-color: #D0021B;
            color: #ffffff;
            position: relative;
            display: block;
            float: right;
            min-width: 76px;
            height: 28px;
            margin-right: 8px;
            margin-top: 5px;
            overflow: hidden;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            line-height: 28px;
            border-radius: 4px;

        }

        .lo_wl{
            color: #000;
            position: relative;
            display: block;
            float: left;
            height: 28px;
            min-width: 76px;
            margin-left: 8px;
            margin-top: 5px;
            overflow: hidden;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            line-height: 28px;
            background: #eee;
            border-radius: 4px;
            outline: none;

        }
    </style>
    <div class="navbar fixed-top">
        <div class="navbar-left hide-weixin" ng-click="goProfile()">
            <img class="button-icon" ng-src="image/nav-left.png"/>
            <div class="button-text">返回</div>
        </div>
        <div class="navbar-title">
            我的订单
        </div>
    </div>

    <div class="app-content" infinite-scroll='myOrderModel.loadMore()'>

        <div class="order-filter">
            <div class="filter-item" ng-class="{active: currentTab == TAB_ALL}" ng-click="touchTabAll()">
                <span class="text">全部</span>
            </div>
            <div class="filter-item" ng-class="{active: currentTab == TAB_CREATED}" ng-click="touchTabCreated()">
                <span class="text">待付款</span>
            </div>
            <div class="filter-item" ng-class="{active: currentTab == TAB_PAID}" ng-click="touchTabPaid()">
                <span class="text">待发货</span>
            </div>
            <div class="filter-item" ng-class="{active: currentTab == TAB_DELIVERING}" ng-click="touchTabDelivering()">
                <span class="text">待收货</span>
            </div>
            <div class="filter-item" ng-class="{active: currentTab == TAB_FINISH}" ng-click="touchTabFinish()">
                <span class="text">已完成</span>
            </div>
        </div>

        <div class="order-list" ng-if="myOrderModel.orders && myOrderModel.orders.length">
            <div class="list-item" ng-repeat="order in myOrderModel.orders track by $index" >
                <div class="item-header">
                    <div class="header-sn">#{{order.sn}}</div>
                    <!--
                    <div class="header-status" ng-if="order.status == ENUM.ORDER_STATUS.CREATED">等待买家付款</div>
                    <div class="header-status" ng-if="order.status == ENUM.ORDER_STATUS.PAID">等待卖家发货</div>
                    <div class="header-status" ng-if="order.status == ENUM.ORDER_STATUS.DELIVERING">等待买家收货</div>
                    <div class="header-status" ng-if="order.status == ENUM.ORDER_STATUS.DELIVERIED">交易成功</div>
                    <div class="header-status" ng-if="order.status == ENUM.ORDER_STATUS.FINISHED">交易成功</div>
                    <div class="header-status" ng-if="order.status == ENUM.ORDER_STATUS.CANCELLED">交易取消</div>
                    -->
                </div>
                <div class="order-goods" ng-click="touchOrder(order,currentTab)">
                    <div class="goods-item" ng-repeat="goods in order.goods track by $index">
                        <div class="item-photo">
                            <img ng-src="image/default-photo.png" lazy-img="{{goods.product.default_photo.thumb}}"/>
                        </div>
                        <div class="item-info">
                            <div class="info-name">
                                {{goods.product.name}}【{{goods.order_status_text}}】
                            </div>
                            <div class="info-attr">
                                {{goods.property}}

                            </div>
                            <div class="info-price">
                                {{goods.product_price| currency:"￥"}}
                            </div>
                            <div class="info-amount">
                                x{{goods.total_amount}}
                            </div>
                        </div>
               <!--确认收货-->
                        <div class="but_tip" ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERING">
                            <div class="footer-button dark"  ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERING" ng-click="touchConfirm(order.id,goods.order_goods_id)">
                                确认收货
                            </div>
                            <div class="footer-button dark"  ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERING && goods.is_zx_order==0 && order.company_id!=51 && order.company_id!=52 && order.company_id!=70" ng-click="torefundTip($event)">
                                申请退货
                            </div>

                            <div class="lo_wl" ng-click="touchlogisitics(order.consignee.regions,order.consignee.address,goods.order_goods_id,$event)">查看物流</div>
                        </div>




                   <!--申请退货-->
                        <div class="but_tip" ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERIED">
                            <div class="footer-button dark" ng-if="goods.is_reviewed==false" ng-click="touchComment(order,goods,$event)">
                                评价
                            </div>
                            <div class="footer-button dark"  ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERIED && goods.is_zx_order==0 && order.company_id!=51 && order.company_id!=52 && order.company_id!=70" ng-click="touchToRefund(order.id,goods.order_goods_id)">
                                申请退货
                            </div>
                            <!--<div class="lo_wl" ng-click="touchlogisitics(order.consignee.regions,order.consignee.address,goods.order_goods_id,$event)">查看物流</div>-->
                        </div>
                   <!--退货详情-->
                        <div class="but_tip" ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.APPLY_RETURN || goods.order_status == ENUM.ORDER_GOODS_STATUS.RETURNING || goods.order_status == ENUM.ORDER_GOODS_STATUS.RETURNED">
                            <div class="footer-button dark" ng-if="goods.is_reviewed==false" ng-click="touchComment(order)">
                                评价
                            </div>
                            <div class="footer-button dark"  ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.APPLY_RETURN || goods.order_status == ENUM.ORDER_GOODS_STATUS.RETURNING || goods.order_status == ENUM.ORDER_GOODS_STATUS.RETURNED" ng-click="touchToRefundInfo(order.id,goods.order_goods_id,$event)">
                                退货详情
                            </div>
                            <!--<div class="lo_wl" ng-click="touchlogisitics(order.consignee.regions,order.consignee.address,goods.order_goods_id,$event)">查看物流</div>-->
                        </div>




                   <!--申请退款-->

                   <div ng-if="order.company_id!=70 && order.company_id!=40 && order.company_id!=51 && order.company_id!=52 && goods.is_zx_order==0">
                        <div class="but_tip" ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.PAID || goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERY">
                            <div class="footer-button dark"  ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.PAID || goods.order_status == ENUM.ORDER_GOODS_STATUS.DELIVERY" ng-click="touchToRefund(order.id,goods.order_goods_id,$event)">
                                申请退款
                            </div>
                        </div>
                   <!--退款详情-->
                        <div class="but_tip" ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.APPLY_REFUND || goods.order_status == ENUM.ORDER_GOODS_STATUS.REFUNDED">
                            <div class="footer-button dark"  ng-if="goods.order_status == ENUM.ORDER_GOODS_STATUS.APPLY_REFUND || goods.order_status == ENUM.ORDER_GOODS_STATUS.REFUNDED" ng-click="touchToRefundInfo(order.id,goods.order_goods_id,$event)">
                                退款详情
                            </div>
                        </div>
                   </div>


                    </div>
                </div>
                <div class="item-footer">
                    <div class="footer-sum">

                        <span class="sum">
                            合计：{{order.total  | currency:"￥"}}
                        </span>
                        <span class="sum" ng-if="order.shipping && order.shipping.price">
                            （运费：{{order.shipping.price  | currency:"￥"}}）
                        </span>
                    </div>

                    <div class="footer-button dark" ng-if="order.pay_status == ENUM.PAY_STATUS.UNPAY" ng-click="touchPay(order)">
                        付款
                    </div>
                    <div class="footer-button" ng-if="order.pay_status == ENUM.PAY_STATUS.UNPAY" ng-click="touchCancel(order)">
                        取消订单
                    </div>



                    <!--

                    <div class="footer-button" ng-if="order.status == ENUM.ORDER_STATUS.DELIVERING" ng-click="touchExpress(order)">
                        查看物流
                    </div>
                    <div class="footer-button" ng-if="order.status == ENUM.ORDER_STATUS.DELIVERIED" ng-click="touchExpress(order)">
                        查看物流
                    </div>
                    <div class="footer-button" ng-if="order.status == ENUM.ORDER_STATUS.FINISHED" ng-click="touchExpress(order)">
                        查看物流
                    </div>
                    -->
                </div>
            </div>
        </div>

        <div class="empty" ng-if="myOrderModel.isEmpty">
            <div class="empty-item">
                <img class="item-logo" ng-src="image/logo-order-empty.png"/>
                <div class="item-text">暂无任何订单</div>
            </div>
        </div>

        <div class="loading-more" ng-if="myOrderModel.isLoaded && myOrderModel.isLoading">
            正在加载...
        </div>
        <div class="loading-more" ng-if="myOrderModel.isLoaded && myOrderModel.isLastPage">
            全部加载完毕
        </div>

        <!-- Dialog -->
        <div id="dialog" ng-show="showDialog">
            <div class="mask">
            </div>
            <div class="dialog danger">
                <div class="dialog-title">
                    确认取消
                </div>
                <div class="dialog-content">
                    是否取消该订单
                </div>
                <div class="dialog-button">
                    <div class="button left" ng-click="touchDialogCancel()">
                        取消
                    </div>
                    <div class="button right" ng-click="touchDialogConfirm()">
                        确认
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="refundTip-box" ng-if="refundTipshow">
        <div class="refundTip">
            <div class="refundcon">在申请退货前需要您先确认收货
                <br/>
                具体退换货流程请阅读退换货须知
            </div>

            <div class="refundbtn">
                <div class="refundbtn_left" ng-click="torefundTip($event)">确定</div>
                <div class="refundbtn_left" ng-click="toknowall()">退换货须知</div>
            </div>
        </div>
    </div>

</div>







